@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid #010202;
}
  
thead th:nth-child(1) {
    width: 30%;
}
  
thead th:nth-child(2) {
    width: 20%;
}
  
thead th:nth-child(3) {
    width: 15%;
}
  
thead th:nth-child(4) {
    width: 35%;
}
  
th, td {
    padding: 20px;
}

html {
    font-family: monospace;
}
  
thead th, tfoot th {
    font-family: cursive;
}
  
th {
    letter-spacing: 2px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
}
  
tfoot th {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #6b9470;
}
  
tbody tr:nth-child(even) {
    background-color: #b3d3b5;
}

body {
    background-color: #20d9df;
}