table {
    table-layout: fixed;
    width: 100%;
    border-collapse: collapse;
    border: 3px solid purple;
}
  
thead th:nth-child(1) {
    width: 30%;
}
  
thead th:nth-child(2) {
    width: 20%;
}
  
thead th:nth-child(3) {
    width: 15%;
}
  
thead th:nth-child(4) {
    width: 35%;
}
  
th, td {
    padding: 20px;
}

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
}
  
thead th, tfoot th {
    font-family: cursive;
}
  
th {
    letter-spacing: 2px;
}
  
td {
    letter-spacing: 1px;
}
  
tbody td {
    text-align: center;
}
  
tfoot th {
    text-align: right;
}

tbody tr:nth-child(odd) {
    background-color: #6b9470;
}
  
tbody tr:nth-child(even) {
    background-color: #6e55aa;
}

body {
    background-color: #4178be;
}