body {
    background-color: #15c0ea;
}

.mapdiv {
    width:100%;
    margin: auto;
}

.mapdiv path {
    fill: #ff8800;
    stroke: #000000;
    stroke-width: 2px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: #0046ff;
}

.navB {
    width: 80%;
    margin: 0 auto;
}

header {
    background: orange;
}

header::after {
    content: '';
    display: table;
    clear: both;
}

nav {
    float: right;
}