@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
    background-color: #15c0ea;
    font-family: 'Work Sans', sans-serif;
	font-weight: 800;
}

.mapdiv {
    width:100%;
    margin: auto;
}

.mapdiv path {
    fill: #ff8800;
    stroke: #000000;
    stroke-width: 2px;
    transition: fill 0.3s;
}

.mapdiv :hover {
    fill: #0046ff;
}
